<header>
    <div class="head-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="#">
                            <img class="img-fluid" src="https://masterstrokes.betatesting.net/img/logo.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="top-rt-prt">
                        <a href="tel:+91 9883818627" class="phoneno">+91 9883818627</a>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-user"></i> My Account</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">My profile</a></li>
                                <li><a class="dropdown-item" href="#">Display Settings</a></li>
                                <li><a class="dropdown-item" href="#">Subscription</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </div>
                        <a href="#" class="position-relative">
                            <img class="img-fluid" src="https://masterstrokes.betatesting.net/img/cart.png" alt="" />
                        </a>

                        <div class="dropdown">
                            <a href="#" class="fornotification readAllNoti">
                                <img class="img-fluid" src="https://masterstrokes.betatesting.net/img/notification_icon.png" alt=""></a>
                            <input type="hidden" value="" id="readAllNotiValue">
                        </div>
                        
                    </div>
                    <div class="top-menu">
                        <ul id="normal-menu">

                            <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Membership</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Sales Presenters</a></li>
                                    <li><a class="dropdown-item" href="#">Client Proposals</a></li>
                                    <li><a class="dropdown-item" href="#">Premium Reports</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Model Portfolio</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Readymade Presentation</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Triggers</a></li>
                                    <li><a class="dropdown-item" href="#">Welcome Letter</a></li>
                                    <li><a class="dropdown-item" href="#">Investment Suitability Profiler</a></li>
                                    <li><a class="dropdown-item" href="#">Marketing Banners</a></li>
                                    <li><a class="dropdown-item" href="#">Marketing Videos</a></li>
                                    <li><a class="dropdown-item" href="#">Pre-Made Sales Presenters</a></li>
                                    <li><a class="dropdown-item" href="#">Client Communication</a></li>
                                    <li><a class="dropdown-item" href="#">Other Downloads</a></li>
                                    <li><a class="dropdown-item" href="#">Trail Calculator</a></li>
                                </ul>
                            </li>
                            <li><a href="#">MF Research</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Store</a></li>
                            <li><a href="#">My library</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="head-bttm">
        <div class="container">
            <div class="top-contact">
                <img src="https://masterstrokes.betatesting.net//f/images/call-ico.png" alt="">
                <p>HELP LINE <a href="tel:+91 9883818627">+91 9883818627</a></p>
            </div>
            <div class="main-menu">
                <nav class="navbar navbar-expand-md navbar-light navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" id="normal-menu">
                            <li class="dropdown active"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">Membership</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Sales Presenters</a></li>
                                    <li><a class="dropdown-item" href="#">Client Proposals</a></li>
                                    <li><a class="dropdown-item" href="#">Premium Reports</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Model Portfolio</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Readymade Presentation</a></li>
                                    <li><a class="dropdown-item" href="#">MSO Triggers</a></li>
                                    <li><a class="dropdown-item" href="#">Welcome Letter</a></li>
                                    <li><a class="dropdown-item" href="#">Investment Suitability Profiler</a></li>
                                    <li><a class="dropdown-item" href="#">Marketing Banners</a></li>
                                    <li><a class="dropdown-item" href="#">Marketing Videos</a></li>
                                    <li><a class="dropdown-item" href="#">Pre-Made Sales Presenters</a></li>
                                    <li><a class="dropdown-item" href="#">Client Communication</a></li>
                                    <li><a class="dropdown-item" href="#">Other Downloads</a></li>
                                    <li><a class="dropdown-item" href="#">Trail Calculator</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">MF Research</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Store</a></li>
                            <li><a href="#">My library</a></li>
                            
                            <div class="d-block d-md-none">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Disclaimers</a></li>
                                <li><a href="#">Contact</a></li>
                            </div>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


</header>
