<div class="mat-dialog-fullwrap">
    <mat-dialog-content>
        <div class="publish-popup-wrap">
            <h3 class="mat-dialog-bold-text text-center">The previous published Excel Format / Filter Format list will be added with current file.</h3>
            <h3 class="mat-dialog-bold-text text-center">Do you want to continue?</h3>

            <mat-dialog-actions>
                <button class="dialog-btn white warning" mat-dialog-close cdkFocusInitial>No, Cancel</button>
                <button class="dialog-btn white success" mat-dialog-close cdkFocusInitial>Yes, Proceed</button>
            </mat-dialog-actions>
        </div>

    </mat-dialog-content>
    
</div>
