<app-header></app-header>
<div class="container">
    <div class="row">
        <!-- <div class="col-auto"><app-leftmenu></app-leftmenu></div>
        <div class="col"><router-outlet></router-outlet></div> -->
        <div class="col-12">
            
            Brokerage Upload
        
        
        
        
            <!-- https://stackblitz.com/edit/angular-rsx9ka?file=src%2Fapp%2Fapp.component.ts -->
             <!-- https://material.angular.io/components/table/examples -->
              <!-- https://stackblitz.com/edit/angular-ivy-z3cpj2?file=src%2Fapp%2Fapp.component.ts -->
        
        
        
        </div>
    </div>
</div>
<app-footer></app-footer>