<app-header></app-header>
<div class="container">
    <div class="row">
        <!-- <div class="col-auto"><app-leftmenu></app-leftmenu></div>
        <div class="col"><router-outlet></router-outlet></div> -->
        <div class="col-12">
            
            Brokerage Upload


            <button mat-raised-button (click)="addColumn()"> Add column </button>
<!-- <button mat-raised-button (click)="removeColumn()"> Remove column </button> -->

<button mat-raised-button (click)="addData()" class="demo-button" style="margin: 0px 20px;">
    Add Row
  </button>
  <!-- <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove Row
  </button> -->

<div style="width:100%; position: relative;">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="drop($event)"
  cdkDropListData="dataSource">

  
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef><mat-icon class="example-drag-cursor" cdkDragHandle>reorder</mat-icon> No. </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon class="example-drag-cursor" (mouseenter)="enter()" (mouseleave)="leave()">reorder</mat-icon>
      <span>{{element.position}}</span>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"><input type="text" class="textfld" value="{{element.name}}" /> </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Quantity of Element </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
  </ng-container>

  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row><!-- cdkDrag [cdkDragData]="row"-->
</mat-table>


<table class="colum-table" style="width:100%" mat-table
       [dataSource]="dataSource" 
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop2($event)">

  <ng-container matColumnDef="position">
    <th mat-header-cell cdkDrag *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell cdkDrag *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell cdkDrag *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell cdkDrag *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell cdkDrag *matHeaderCellDef><mat-icon class="example-drag-cursor">reorder</mat-icon> quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>








              
        
        
        
        
            <!-- https://stackblitz.com/edit/angular-rsx9ka?file=src%2Fapp%2Fapp.component.ts -->
             <!-- https://material.angular.io/components/table/examples -->
              <!-- https://stackblitz.com/edit/angular-ivy-z3cpj2?file=src%2Fapp%2Fapp.component.ts -->
        
        
        
        </div>
    </div>
</div>
<app-footer></app-footer>