.broker-table-row{ margin-left: -40px; margin-right: -40px; position: relative; margin-bottom: 40px;  }

.broker-hd-title-area{ width: 100%; display: inline-flex; align-items: flex-start; justify-content: space-between; position:relative; }
.broker-hd-filter-group{ width: auto; display: inline-flex; align-items: center; gap: 10px; }
.filter-icn-btn{ min-width: 50px; height: 37px; position: relative; display: inline-flex; align-items: center; justify-content: center; gap: 10px; border: 1px solid rgba(69, 143, 246, 1); border-radius: 9px; background: transparent; padding: 0px 10px; transition: all ease-in-out 0.2s; }
.filter-icn-btn>img{ max-width: 18px; }
.filter-icn-btn:focus{ outline: none; }
.filter-icn-btn:hover{ background-color: rgba(224, 237, 255, 1); }
.filter-icn-btn.active{ background-color: rgba(69, 143, 246, 1); }
.filter-icn-btn.active>img{ filter: brightness(100); }
.filter-icn-btn.expand{ background-color: rgba(69, 143, 246, 1); }
.filter-icn-btn.expand>img{ filter: brightness(100); }
.filter-normal-dropdown{ width: 200px; min-height: 300px; display: none; position: absolute; top: 100%; right: 0; background-color: rgba(255, 255, 255, 1); box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12); padding: 15px; z-index: 91;border-radius: 10px; font-family: 'Mulish', sans-serif; margin-top: 10px; }
.filter-normal-dropdown>ul{ width: 100%; display: inline-flex; flex-direction: column; align-items: flex-start; list-style-type: none; gap: 10px; margin: 0px; padding: 0px; }
.filter-normal-dropdown>ul>li{ width: 100%; position: relative; }
.filter-normal-dropdown>ul>li>a{ width: 100%; height: 46px; display: inline-flex; align-items: center; justify-content: center; color: rgba(69, 143, 246, 1); font-size: 12px; font-weight: 700; border: rgba(69, 143, 246, 1) solid 1px; border-radius: 10px; transition: all ease-in-out 0.1s; }
.filter-normal-dropdown>ul>li>a:hover{ background-color: rgba(69, 143, 246, 1); color: #fff; }
.filter-icn-btn.expand .filter-normal-dropdown{ display: block; }

.round-box{ width: 100%; display: inline-block; padding: 18px 28px; border-radius: 12px; box-shadow: 5.16px 12.89px 28.35px 3.87px rgba(0, 0, 0, 0.25); background-color: #fff; margin-bottom: 60px; }

/* common button css start */
.c-pointer{ cursor: pointer; }
.whtlst-btn-grp{ position: relative; display: inline-flex; align-items: center; gap: 10px; }
.whtlst-btn{ width: auto; min-width: 142px; height: 40px; display: inline-flex; align-items: center; justify-content: center; gap: 5px; color: #fff; font-size: 14px; font-weight: 700; border-radius: 9px; background: rgba(69, 143, 246, 1); border:rgba(69, 143, 246, 1) solid 1px; cursor: pointer; }
.whtlst-btn:focus{ outline: none; }
.whtlst-btn.danger{ background-color: rgba(212, 0, 0, 1); border-color: rgba(212, 0, 0, 1); }
.whtlst-btn.default{ background-color: #EFF0F6; border-color: #EFF0F6; color: #3B56E6; }
.whtlst-btn.btn-xs{ min-width: 56px; height: 27px; font-size: 12px; }
.whtlst-setting-icon-btn{ width: auto; height: auto; padding: 0px; border: none; background: transparent; }
.whtlst-setting-icon-btn>img{ width: 20px; }
.whtlst-text-btn{ width: auto; display: inline-flex; align-items: center; gap: 5px; padding: 0px; border: none; background: transparent; color:rgba(0, 0, 0, 1); font-size: 12px; font-weight: 700; line-height: 1; cursor: pointer; }
.whtlst-text-btn:focus{ outline: none; }
/* common button css ended */

/* common section css start */
.whtlst-sctn{ width: 100%; display: inline-block; position: relative; margin-bottom: 55px; }
.whtlst-sctn.mb-0{ margin-bottom: 0px; }
.whtlst-sctn-hdng{ width: 100%; display: inline-flex; align-items: flex-end; justify-content: space-between; position: relative; }
.whtlst-table-hdng{ width: 100%; display: inline-flex; align-items: center; justify-content: space-between; padding: 0px 0px 10px; border-bottom: 1px solid rgba(226, 226, 226, 1); margin-bottom: 4px; }
.whtlst-table-hdng .hdng-title{ display: inline-flex; align-items: center; gap: 10px; font-size:16px; font-weight: 700; color:rgba(0, 0, 0, 1) }
.whtlst-table-hdng .hdng-title.sm{ font-size: 12px; }

.whtlst-section{ width: 100%; display: inline-block; position: relative; }
.whtlst-published-box{ width: 100%; min-height: 200px; display: inline-block; padding: 12px 15px; background-color: rgba(241, 251, 255, 1); border-radius: 0px 0px 10px 10px; margin-bottom: 12px; }
.whtlst-created-box{ width: 100%; display: inline-block; padding: 12px 0px; border-radius: 0px 0px 10px 10px; margin-bottom: 12px; }
.whtlst-amc-card-wrap{ width: 100%; display: inline-block; position: relative; }
.whtlst-amc-card-list{ width: 100%; display: inline-block; padding: 0px; margin: 0px; list-style-type: none; }
.whtlst-amc-card-list>li{ width: 100%; display: inline-block; margin-bottom: 10px; }
.whtlst-amc-card-list>li:last-child{ margin: 0px; }
/* common section css ended */


/* multi select dropdown css start */
.multiselect-dropdown{ border-radius: 5px; background-color: #EFF0F6; border-color: #EFF0F6; }
.multiselect-dropdown .dropdown-btn{ border-color: #EFF0F6 !important; height: 42px; display: inline-flex !important; align-items: center; font-size: 11px !important; font-weight: 700 !important; color: #848484 !important; }
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{ width: 32px !important;  background: url('./../images/dropdown-down-arrow.svg') no-repeat 15px 18px; background-position: center center !important; }
.multiselect-dropdown .dropdown-btn .dropdown-multiselect--active .dropdown-multiselect__caret{ background: url('./../images/dropdown-down-arrow.svg') no-repeat 4px 14px; }
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before{ display: none; }
/* list box css */
.multiselect-dropdown .dropdown-list{ min-width: 145px !important; border: none !important; padding-bottom: 10px !important; box-shadow: 0px 0px 15px 0px #00000017 !important; border-radius: 0px 0px 10px 10px !important; }
.multiselect-dropdown .dropdown-list li{ font-size: 11px; font-weight: 500; line-height: 1.4; padding: 6px 15px 3px !important; }
.multiselect-dropdown .dropdown-list .filter-textbox{ border: none !important; margin-bottom: 5px !important; }
.multiselect-dropdown .dropdown-list .filter-textbox>input{ width: 100%; height: 36px !important; border-radius: 5px !important; padding: 10px 35px 10px 10px !important; border: 1px solid #C9D1FF !important; font-size: 12px !important; font-weight: 500 !important; color: #666666 !important; background: #fff url("./../images/whitelist-search-icon.svg") no-repeat 96% center; }
.multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div{ padding-left: 3em !important; }
.multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div:before{ border: 1px solid #458FF6 !important; border-radius: 4px !important; }
.multiselect-dropdown .multiselect-item-checkbox input[type=checkbox]:checked + div:before{ background-color: #458FF6 !important; }
.multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div:after{ margin-top: -4px !important; border-width: 0 0 1px 1px !important; font-weight: 600; }
/* normal */
.normal .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{ max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0px !important; margin: 0px !important; background: transparent !important; color: #848484 !important; border: none !important; }
.normal .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item:hover{ box-shadow: none !important; }
.normal .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a{ display: none !important; }
.normal .multiselect-dropdown .dropdown-btn .selected-item-container:nth-last-child(2)+span>span{ padding-right: 5px !important; margin-top: 5px; }
.normal .multiselect-dropdown .dropdown-btn .selected-item-container:nth-last-child(2)+span:after{ content: 'More' !important; display: inline-block; margin-top: 5px; }
.normal .multiselect-dropdown .dropdown-btn > span:last-child{ position: absolute; right: 5px; top: -1px; display: inline-flex !important; align-items: center !important; }
.normal .multiselect-dropdown .dropdown-btn > span:last-child .dropdown-multiselect__caret{ position: relative !important; order: 3; }
.twoline .multiselect-dropdown .dropdown-btn{ padding: 2px 12px !important; align-items: flex-start !important; }
/* two line */
.twoline .multiselect-dropdown .dropdown-btn > span:not(.selected-item-container):nth-child(1){ padding-top: 10px !important; }
.twoline .multiselect-dropdown .dropdown-btn .selected-item-container:nth-last-child(2)+span>span{ margin-top: 22px; }
.twoline .multiselect-dropdown .dropdown-btn .selected-item-container:nth-last-child(2)+span:after{ margin-top: 22px; }
.twoline .multiselect-dropdown .dropdown-btn > span:last-child{ width: 82%; right: auto !important; }
.normal.twoline .multiselect-dropdown .dropdown-btn > span:last-child .dropdown-multiselect__caret{ position: absolute !important; right: -3px !important; }
/* small width */
.small-width .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{ max-width: 100px; }
/* single select */
.single .multiselect-dropdown .dropdown-btn .selected-item-container:nth-last-child(2)+span:after{ display: none !important; }
.single .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div:before{ display: none !important; }
.single .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div:after{ display: none !important }
.single .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div { padding-left: 0px !important; }
.single .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox]:checked + div { color: #324AC4 !important; }
/* single storting type */
.storting-type .multiselect-dropdown{ border-radius: 16px; background-color: #EFF0F6; border-color: #EFF0F6; }
.storting-type .multiselect-dropdown .dropdown-btn{ border-color: transparent !important; height: 36px; display: inline-flex !important; align-items: center; font-size: 10px !important; font-weight: 700 !important; color: #324AC4 !important; padding: 6px 32px 6px 12px !important; }
.storting-type .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{ max-width: 200px; overflow: visible; white-space: nowrap; text-overflow:unset; padding: 0px !important; margin: 0px !important; background: transparent !important; color: #324AC4 !important; border: none !important; }
.storting-type .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{ width: 32px !important;  background: url('./../images/whitelist-blue-down-icon.svg') no-repeat 15px 15px; }
.storting-type .multiselect-dropdown .dropdown-btn .dropdown-multiselect--active .dropdown-multiselect__caret{ background: url('./../images/whitelist-blue-down-icon.svg') no-repeat 4px 16px; }
.storting-type .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div { padding-left: 12px !important; padding-right: 12px !important; color: #A0A3BD !important; }
.storting-type .multiselect-dropdown .dropdown-list li{ padding: 8px 15px 7px !important; border-bottom: #E7E7E7 solid 1px !important; }
.storting-type .multiselect-dropdown .dropdown-list li:last-child{  border-bottom: none !important; }
/* single small */
.single.small-width .multiselect-dropdown .dropdown-btn{ height: 35px !important; }
.single.small-width .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{ color: #000 !important; }
.single.small-width .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div { padding-left: 12px !important; padding-right: 12px !important; color: #000 !important; }
.single.small-width .multiselect-dropdown .multiselect-item-checkbox input[type=checkbox]:checked + div { color: #324AC4 !important; }
.single.small-width .multiselect-dropdown .dropdown-list li{ padding: 8px 15px 7px !important; border-bottom: #E7E7E7 solid 1px !important; text-align: center; }
.single.small-width .multiselect-dropdown .dropdown-list li:last-child{  border-bottom: none !important; }
/* white bg */
.white-bg .multiselect-dropdown{  background-color: #ffffff; border-color: #ffffff; }
.white-bg .multiselect-dropdown .dropdown-btn{  font-size: 13px !important; border: 1px solid #fff; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09); }
.white-bg .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{ height: 35px !important; top: 3px !important; }
/* multi select dropdown css ended */


/* paginaion section css start */
.whtlst-pagination-sctn{ width: 100%; min-height: 40px; position: relative; display: inline-flex; justify-content: flex-end; margin-bottom: 58px; }
ul.pagination{ position: relative; margin: 0px; }
ul.pagination .page-item.disabled{ display: none; }
ul.pagination li.page-item{ width: 38px; height: 38px; display: inline-flex; align-items: center; justify-content: center; position: relative; border-radius: 50px; overflow: hidden; }
ul.pagination li.page-item a.page-link{ width: 38px; height: 38px; display: inline-flex; align-items: center; justify-content: center; border: none !important; font-size: 12px; color: rgba(42, 42, 47, 1); border-radius: 50px; overflow: hidden; padding: 0px; }
ul.pagination li.page-item a.page-link:hover{ background-color: #caf0ff; }
ul.pagination li.page-item.active a.page-link{ background: rgba(36, 48, 101, 1); color: #fff; }

ul.pagination li a[aria-label="Previous"]{ background-color: transparent; }
ul.pagination li a[aria-label="Previous"] span{ width: 100%; height: 100%; font-size: 0px; background: url("./../images/whitelist-blue-right-icon.svg") no-repeat center center; background-size: 8px; transform: rotate(180deg); }
ul.pagination li a[aria-label="Next"]{ background-color: transparent; }
ul.pagination li a[aria-label="Next"] span{ width: 100%; height: 100%; font-size: 0px; background: url("./../images/whitelist-blue-right-icon.svg") no-repeat center center; background-size: 8px; }
/* paginaion section css ended */


/* amc card css start */
.whtlst-amc-card{ width: calc(100% - 35px); height: 41px; border-radius: 8px; padding: 9px 12px; column-gap: 15px; position: relative; display: inline-flex; align-items: center; box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.09); background-color: #fff; transition: all ease-in-out 0.2s; }
.whtlst-amc-card:hover{ background-color: rgba(241, 251, 255, 1); box-shadow: none; }
.whtlst-amc-card .drag-col{ width: 24px; display: inline-flex; flex-shrink: 0; align-items: center; justify-content: center; }
.whtlst-amc-card .drag-icon{ width: 11px; }
.whtlst-amc-card .mid-col{ flex: 1; column-gap: 20px; display: inline-flex; position: relative; align-items: center; justify-content: space-between; transition: all ease-in-out 0.5s; }
.whtlst-amc-card .action-col{ position: relative; display: inline-flex; align-items: center; }
.whtlst-amc-card .title-col{ width: auto; display: inline-flex; align-items: center; flex: 1; column-gap: 20px; }
.whtlst-amc-card .whtlst-amc-icon{ height: 20px; }
.whtlst-published-btn{ width: auto; padding: 5px 14px; border-radius: 10px; border: none; color: #fff; border-radius: 6px; background-color: rgba(76, 228, 73, 1); font-size: 11px; font-weight: 700; line-height: 1.2; height: 26px; display: none; }
.whtlst-published-btn:focus{ outline: none; }
.whtlst-amc-card-title{ color: rgba(0, 0, 0, 1); line-height: 1.2; font-size:14px; font-weight:400; padding: 0px; margin: 0px; }
.whtlst-amc-card-title.sm{ font-size: 12px; }
.whtlst-amc-card-title.main-title, .whtlst-amc-card-title.sub-title{ max-width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.whtlst-dot-btn{ width: 20px; padding: 0px; display: none; align-items: center; justify-content: center; border: none; background-color: transparent; cursor: pointer; position: relative; top: 1px; }
.whtlst-dot-btn:focus{ outline: none; }
.whtlst-dot-btn>img{ width: 3px; }
.whtlst-amc-star{ width: auto; position: relative; display: none; }
.whtlst-amc-star>img{ width: 20px; float: left; transition: all ease-in-out 0.5s; }
.whtlst-amc-star>img.marked{ opacity: 0; position: absolute; top: 0px; left: 0px; }
.whtlst-amc-star.marked>img.marked{ opacity: 1; }
.whtlst-amc-card .whtlst-actn-btn{ padding: 0px; position: absolute; right: -35px; border: none; background: transparent; cursor: pointer;  }
.whtlst-amc-card .whtlst-actn-btn>img{ width: 20px; }
.whtlst-amc-card .whtlst-actn-btn>img.minus{ display: none; }

.whtlst-amc-card:hover .whtlst-dot-btn{ display: inline-flex; }
.whtlst-amc-card:hover .whtlst-amc-star{ display: inline-block; }
.whtlst-amc-card:hover .sub-title{ display: none; }
.whtlst-amc-card:hover .whtlst-amc-card-title{ font-weight: 700; }

.whtlst-amc-card.published .whtlst-published-btn{ display: inline-block; }
.whtlst-amc-card.published .date{ display: none; }
.whtlst-amc-card.published .whtlst-actn-btn img.plus{ display: none; }
.whtlst-amc-card.published .whtlst-actn-btn img.minus{ display: block; }
.whtlst-amc-card.published:hover .date{ display: inline-block; }
.whtlst-amc-card.published:hover .whtlst-published-btn{ display: none; }
/* amc card css ended */

/* no amc card css start */
.whtlst-amc-nocard{ width: 100%; position: relative; display: inline-flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; padding: 45px 20px; }
.whtlst-amc-nocard .nocard-icon{ width: 104px; margin-bottom: 25px; }
.whtlst-amc-nocard .nocard-title{ font-size: 13px; font-weight: 700; color: rgba(0, 0, 0, 1); margin: 0px; padding: 0px; }
/* no amc card css ended */


/* created amc filter section css start */
.whtlst-filter-section{ width: 100%; display: inline-flex; position: relative; padding: 15px 0px 20px; column-gap: 22px; border-bottom: 1px solid #E2E2E2; }
.whtlst-filter-lft-section{ flex: 1; display: inline-flex; column-gap: 9px; position: relative; }
.whtlst-filter-rgt-section{ display: inline-flex; column-gap: 9px; position: relative; }
.whtlst-filter-box{ width: 100%; flex-grow: 1; flex: 1; padding: 16px 12px 12px; display: inline-flex; flex-direction: column; align-items: flex-start; row-gap: 5px; border-radius: 5px; box-shadow: 0px 0px 15px 0px #00000017;}
.whtlst-filter-box.normal{ box-shadow: none; padding: 0px; }
.whtlst-filter-box.vcenter{ justify-content: center; }
.left-col-1{ flex-grow: 1.5; }
.whtlst-label-title{ width: 100%; padding: 0px; margin: 0px 0px 5px 0px; font-size: 12px; font-weight: 700; color: #000; line-height: 1.2; }
.whtlst-label-title.center{ text-align: center; }
.whtlst-field-wrap{ width: 100%; position: relative; }
.whtlst-filter-row{ width: calc(100% + 6px); display: flex; flex: 1; position: relative; margin-left: -3px; margin-right: -3px; }
.whtlst-filter-col{ display: inline-flex; flex-grow: 1; padding-left: 3px; padding-right: 3px;  }
.whtlst-filter-col.col-50{ width: 50%; }
/* created amc filter section css ended */


/* shorting filter section css start */
.whtlst-shorting-section{ width: auto; display: inline-flex; column-gap: 12px; position: relative; padding-right: 75px; }
.whtlst-shorting-col{ position: relative; display: inline-flex; flex-direction: column; }
/* shorting filter section css ended */


/* search box css start */
.whtlst-srch-box{ width: 37px; height: 37px; display: inline-flex; justify-content: flex-end; position: relative; overflow: hidden; border-radius: 6px; box-shadow: 0px 0px 15px 0px #00000017; transition: all ease-in-out 0.7s;  font-family: 'Mulish', sans-serif; }
.whtlst-srch-box .multiselect-dropdown{ opacity: 0; transition: all ease-in-out 1s; transition-delay: 0.5s; position: relative; right: -200px; }
.whtlst-srch-box.expanded{ /*width: 280px;*/ overflow: visible; }
.whtlst-srch-box.expanded .multiselect-dropdown{ opacity: 1; right: 0px; }
.whtlst-srch-box .whtlst-srch-fld{ width: 0px; position: absolute; overflow: hidden; border-radius: 6px; box-shadow: 0px 0px 15px 0px #00000017; background: #fff; transition: all ease-in-out 0.2s; }
.whtlst-srch-box.expanded .whtlst-srch-fld{ width: 280px; position: absolute; overflow: hidden; }
.whtlst-srch-box.expanded .whtlst-srch-fld.showsearch{ overflow: visible; }
.whtlst-srch-btn{ width: 37px; height: 37px; flex-shrink: 0; display: inline-flex; position: relative; align-items: center; justify-content: center; padding: 0px; border: none; background-color: #fff; }
.whtlst-srch-btn>img{ width: 17px; opacity: 0.9; }
.whtlst-srch-box .multiselect-dropdown { background-color: transparent !important; flex-shrink: 0; }
.whtlst-srch-box .multiselect-dropdown .dropdown-btn { border-color: transparent !important; height: 37px;  font-size: 13px !important; white-space: nowrap !important; }
.whtlst-srch-box .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{ display: none !important; }
.whtlst-srch-box .multiselect-dropdown .dropdown-list{ min-width: 360px !important; }
/* search box css ended */

/* brokerage page header title css start */
.whtlst-hdr-sctn{ width: auto; position: relative; display: inline-flex; gap: 25px;  font-family: 'Mulish', sans-serif; }
.whtlst-bck-btn{ min-width: 51px; height: 33px; border-radius: 10px; background-color: rgba(36, 48, 101, 1); display: inline-flex; align-items: center; justify-content: center; padding: 0px; }
.whtlst-bck-btn>img{ width: 10px; transform: rotate(90deg); filter: invert(1) brightness(100); }
.whtlst-bck-btn:focus{ outline: none; }
.whtlst-hdr-title-wrap{ width: auto; display: inline-flex; flex-direction: column; align-items: flex-start; }
.whtlst-hdr-title{ font-size: 24px; font-weight: 700; color: #000; line-height: 1.4; padding: 0px; margin: 0px; }
.whtlst-hdr-sub-title{ color: rgba(255, 92, 92, 1); size: 12px; font-weight: 700; line-height: 1.2;  }
/* brokerage page header title css ended */

.whtlst-brkage-section{ width: 100%; position: relative; padding: 0px 0px 0px 12px; margin-bottom: 40px; }

/* brokerage slider css start */
.whtlst-brkage-sldr-sctn{ width:100%; min-height:356px; display: inline-flex; align-items: center; justify-content: center; background: linear-gradient(180deg, #67C3F3 0%, #5A98F2 100%);  font-family: 'Mulish', sans-serif; margin-bottom: 40px;  }
.whtlst-brkage-sldr{ width: 100%; max-width: 1100px; display: inline-flex; justify-content: space-between; position: relative; color: #fff; }
.whtlst-brkage-sldr .sldr-col{ position: relative;display: inline-flex; flex-direction: column; }
.whtlst-brkage-sldr .sldr-col.left{ width: 40%; }
.whtlst-brkage-sldr-title{ font-size: 32px; font-weight: 700; margin-bottom: 20px; }
.whtlst-brkage-sldr-subtitle{ font-size: 16px; font-weight: 300; line-height: 1.6; }
.whtlst-brkage-sldr-img-wrap{ display: inline-flex; position: relative; align-items: center; gap: 5px; }
.whtlst-brkage-sldr-imgframe{width: 157px; height: 209px; overflow: hidden; border-radius: 18px; }
.whtlst-brkage-sldr-imgframe.lg{width: 187px; height: 253px; overflow: hidden; }
.whtlst-brkage-sldr-imgframe:nth-child(1) img{ margin: -24px; }
.whtlst-brkage-sldr-imgframe:nth-child(2) img{ margin: -29px; }
.whtlst-brkage-sldr-imgframe:nth-child(3) img{ margin: -24px; }
/* brokerage slider css ended */

/* Mat card css start */
.mat-card{ padding: 0px !important; border: 1px solid rgba(182, 233, 255, 1); border-radius: 10px !important; box-shadow: none !important;  }
.mat-card .mat-card-header{ min-height: 56px; display: flex; align-items: center; background-color: rgba(36, 48, 101, 1); padding:10px 30px; color: #fff; border-radius: 10px 10px 0px 0px; }
.mat-card .mat-card-header-text{ margin: 0px; }
.mat-card .mat-card-content{ padding:20px 30px 50px !important; }
.mat-card .mat-card-title{ margin: 0px !important; }
.mat-card .mat-card-title.sm{ font-size: 14px !important; }
.mat-card .mat-card-content p{ font-size: 16px; color: rgba(46, 58, 89, 1); font-weight: 700; line-height: 1.2; }
/* Mat card css ended */

/* mat dialog css start */
.mat-dialog-container{ border-radius: 10px !important; padding: 15px 35px !important; font-family: 'Mulish', sans-serif; position: relative; }
.mat-dialog-fullwrap{ width: 100%; display: inline-block; position: relative; }
.mat-dialog-header{ width: 100%; margin: 0px 0px 12px 0px;  display: inline-flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 700; color: rgba(46, 58, 89, 0.9); font-family: "Poppins", sans-serif;  position: relative; }
.mat-dialog-header.left{ justify-content: flex-start; }
.mat-dilog-close-btn{ width: auto; height: auto; position: absolute; top: 0px; right: -10px; appearance: none; background: transparent; z-index: 1; }
.mat-dilog-close-btn>img{ width: 15px; filter: brightness(0); opacity: 0.6; }
.mat-dialog-bold-text{ font-size: 14px; font-weight: 800; color: rgba(36, 48, 101, 1); line-height: 1.4; }
/* mat dialog css ended */


/* upload excel popup css start */
.upload-excel-dialog .mat-dialog-container{ overflow: visible; }
.dialog-field-row{ width: 100%; display: inline-flex; position: relative; gap: 10px; margin-bottom: 10px; }
.dialog-field-label{ padding: 10px 0px; width: 30%; color: rgba(0, 0, 0, 1); font-size: 13px; font-weight: 700; margin: 0px; }
.dialog-field-contentwrap{ flex: 1; position: relative; }
/* .mat-dialog-content{ min-height: calc(100vh - 300px); max-height: calc(100vh - 200px); } */
.mat-dialog-content{ max-height:calc(100vh - 200px); width:calc(100% + 50px); padding: 0px 15px; overflow: auto; margin-left: -15px; }
.mat-dialog-content::-webkit-scrollbar { height: 5px; width: 5px; border: 1px solid #d5d5d5; }
.mat-dialog-content::-webkit-scrollbar-track { background: #f1f1f1; }
.mat-dialog-content::-webkit-scrollbar-thumb { background: #3d5bff; }
.mat-dialog-content::-webkit-scrollbar-thumb:hover { background: #283a9b; }
.mat-dialog-actions{ min-height: 10px !important; margin: 0px !important; display: inline-flex; align-items: center; gap: 20px; justify-content: center; padding: 40px 0px 20px !important; }
.mat-dialog-shadow-box{ width: 100%; display: inline-flex; align-items: center; gap: 15px; padding: 9px 12px; border-radius: 5px; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09); font-size: 11px; font-weight: 700; color: rgba(132, 132, 132, 1); line-height: 1.4; margin-bottom: 20px; }
.mat-dialog-shadow-icon{ width: 20px; }
.mat-dialog-shadow-box.info-box{ padding: 9px 24px; }
.mat-dialog-shadow-box.period-box{ position: relative; flex-direction: column; }
.dialog-btn{ width: auto; min-width: 130px; min-height: 40px; border-radius: 24px; border: #283a9b solid 1px; background-color: #283a9b; color: #fff; font-size: 12px; font-weight: 600; display: inline-flex; justify-content: center; align-items: center; padding: 5px 20px; box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.08); transition: all ease-in-out 0.2s; }
.dialog-btn:focus{ outline: none; }
.dialog-btn.sm{ min-width: 50px; min-height: 31px; font-size: 11px; line-height: 1; font-weight: 700; }
.dialog-btn.white{ background-color: #fff; border-color:#fff; color: rgba(36, 48, 101, 1); font-weight: 700; }
.dialog-btn.white:hover{ background-color: rgba(182, 233, 255, 1); border-color:rgba(182, 233, 255, 1); }
.dialog-btn.white:focus, .dialog-btn.white.active{ background-color: rgba(36, 48, 101, 1); border-color:rgba(36, 48, 101, 1); color: #fff; }
.dialog-btn.warning{ box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.19); }
.dialog-btn.warning:hover{ background-color: rgba(255, 130, 130, 1); border-color: rgba(255, 130, 130, 1); }
.dialog-btn.success:hover{ background-color: rgba(130, 255, 197, 1); border-color: rgba(130, 255, 197, 1); }

.modal-email-list{ width:100%; padding: 0px; margin: 0px; list-style-type: none; display: inline-flex; flex-direction: column; align-items: flex-start; gap: 14px; }
.modal-email-list>li{ width:100%; position: relative; }
.uploadfile-frame{ width:100%; height: 105px; display: inline-flex; align-items: center; gap: 50px; position: relative; border: 1px dashed rgba(0, 0, 0, 1); padding: 30px; margin-bottom: 20px; }
.uploadfile-content-col{ flex: 1; display: inline-flex; flex-direction: column; align-items: flex-start; gap: 0px; }
.uploadfile-title{ font-size: 14px; color: rgba(0, 0, 0, 1); font-weight: 700; line-height: 1.2; padding: 0px; }
.uploadfile-title a{ text-decoration: underline; color: rgba(0, 0, 0, 1); }
.uploadfile-para{ color:rgba(72, 72, 72, 1); font-size: 12px; font-weight: 400; font-style: italic; padding: 0px; line-height: 1.4; margin: 0px; }
.uploadfile-plus{ width: 45px; height: 45px; position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uploadfile-plus:before{ content:''; width: 100%; height: 5px; border-radius: 10px; background-color: rgba(61, 91, 255, 1); }
.uploadfile-plus:after{ content:''; width: 5px; height: 100%; border-radius: 10px; background-color: rgba(61, 91, 255, 1); position: absolute; left: 50%; top: 0; transform: translateX(-50%); }
.uploadfile-modal .modal-section-title{ font-size: 16px; color:rgba(46, 58, 89, 0.9); font-weight: 700; margin-bottom: 15px; }
.uploadfile-prgrs-box{ width: 100%; display: inline-flex; align-items: flex-start; position: relative; gap: 20px; }
.prgrs-icon{ width: 30px; flex-shrink: 0; }
.prgrs-bar-col{ display: inline-flex; flex-direction: column; gap: 3px; position: relative; align-items: flex-start; flex: 1; }
.prgrs-bar{ width: 100%; height: 6px; border-radius: 5px; position: relative; overflow: hidden; background-color: rgba(235, 235, 235, 1); }
.prgrs-bar>span{ height: 100%; position: absolute; top:0px; left: 0px; border-radius: 5px; background: linear-gradient(90deg, #69A7FF 41.09%, #3D5BFF 100%); }
.prgrs-bar-title{ font-size: 12px; font-weight: 400; color: rgba(46, 58, 89, 0.9); line-height: 1.2; padding: 0px; margin: 0px 0px 8px 0px; }
.prgrs-bar-status{ font-size: 10px; font-weight: 400; color: rgba(63, 94, 255, 1); font-style: italic; padding: 0px; margin: 0px; display: inline-flex; }
.prgrs-bar-status .prgrs-icn{ width: 10px; height: 10px; flex-shrink: 0; margin: 0px 5px; }
.prgrs-bar-status.success{ color: rgba(72, 137, 0, 1); }
.prgrs-bar-status.error{ color: rgba(244, 67, 54, 1); }
.prgrs-icn-btn{ width: 30px; height: 30px; padding: 0px; margin: 0px; border: none; background: transparent; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; outline: none; appearance: none; flex-shrink: 0; }
/* upload excel popup css ended */

/* show hidden rows popup css start */
.hidden-rows-dialog .mat-dialog-container{ padding: 25px 35px !important; }
.hidden-rows-dialog .mat-dialog-content { min-height: 200px; max-height: 300px; width: calc(100% + 40px); margin: 0px 0px 0px -15px; padding: 0px 15px 0px 15px !important; }
.hidden-rows-dialog .mat-dialog-actions{ padding: 10px 0px 10px !important; }
.rows-accro-box{ width: 100%; display: inline-flex; position: relative; flex-direction: column; overflow: hidden; border-radius: 8px; margin-bottom: 5px; }
.rows-accro-box .rows-accro-hdr{ width: 100%; height: 41px; padding: 8px 28px; display: inline-flex; align-items: center; justify-content: space-between; background-color: rgba(241, 251, 255, 1); border: rgba(241, 251, 255, 1) solid 1px; color: rgba(102, 102, 102, 1); font-size: 11px; font-weight: 700; border-radius: 8px; line-height: 1.4; }
.rows-accro-box .rows-accro-hdr-title{ display: inline-flex; align-items: center; gap: 15px; color: rgba(32, 70, 250, 1); }
.rows-accro-box .rows-accro-hdr-arrow{ width: 12px; transition: all ease-in-out 0.2s; }
.rows-accro-box .rows-accro-content{ width: 100%; height: 0px; border: 1px solid rgba(204, 204, 204, 1); border-radius: 0px 0px 8px 8px; transition: all ease-in-out 0.2s; overflow: hidden; opacity: 0;  }
.rows-accro-box .rows-accro-cntwrap{ width: 100%; padding: 15px 28px; }
.rows-accro-box.active .rows-accro-hdr{ border-radius: 8px 8px 0px 0px; background-color: rgba(36, 48, 101, 1); border-color: rgba(36, 48, 101, 1); color: #fff; }
.rows-accro-box.active .rows-accro-hdr-title{ color: #fff; }
.rows-accro-box.active .rows-accro-hdr-arrow{ filter: brightness(100); transform: rotate(180deg); }
.rows-accro-box.active .rows-accro-content{ height: auto; opacity: 1; }
.rows-info-label{ width: 100%; font-size: 9px; font-weight: 600; color: rgba(46, 58, 89, 1); line-height: 1.2; margin-bottom: 5px }
.rows-info-content{ width: 100%; font-size: 10px; font-weight: 700; color: rgba(46, 58, 89, 1); line-height: 1.2; margin-bottom: 10px; }

.rows-accro-list{ width: 100%; display: flex; flex-direction:column; align-items: flex-start;  }
.rows-accro-list .rows-accro-box .rows-accro-hdr{ height: auto; }
.rows-accro-list .rows-accro-box:nth-child(even) .rows-accro-hdr{ background-color: #fff; }
.rows-accro-hdr > .row{ width: 100%; align-items: center; }
/* show hidden rows popup css ended */

/* show hidden columns popup css start */
.hidden-columns-dialog .mat-dialog-container{ padding: 25px 35px !important; }
.hidden-columns-dialog .mat-dialog-content { min-height: 200px; max-height: 300px; width: calc(100% + 40px); margin: 0px 0px 0px -15px; padding: 0px 15px 0px 15px !important; }
.hidden-columns-dialog .mat-dialog-actions{ padding: 10px 0px 10px !important; }
/* show hidden columns popup css ended */


/* publish warning popup css start */
.publish-popup-wrap{ width: 100%; display: inline-flex; flex-direction: column; justify-content: center; padding: 40px 0px; gap: 25px; }
.publish-popup-wrap .mat-dialog-actions{ padding: 0px !important; }
/* publish warning popup css ended */


/* mat radio css start */
.mat-radio-button{ color: rgba(0, 0, 0, 1) !important; font-size: 11px !important; font-family: 'Mulish', sans-serif; }
.mat-radio-button .mat-radio-ripple{ display: none !important; }
.mat-radio-outer-circle{ border-color: rgba(69, 143, 246, 1) !important; }
.mat-radio-inner-circle{ background-color: rgba(69, 143, 246, 1) !important; }
.sm-radio .mat-radio-container{ height: 15px !important; width: 15px !important; }
.sm-radio .mat-radio-outer-circle { height: 15px !important; width: 15px !important; border-width: 2px !important; }
.sm-radio .mat-radio-inner-circle{ height: 15px !important; width: 15px !important; }
/* mat radio css ended */



