<div class="colProfileLeft">
    <div class="lft-pnl2 userLeftMenu">
        <ul id="" class="mb-0">
            <li id="cover_page_li" class="" style="display: none;" onclick="changePage('cover_page');">
                <a href="javascript:void(0);">
                     All
                </a>
            </li>
                                    <li id="calculator_li" class="active" onclick="changePage('calculator');">
                <a href="javascript:void(0);">
                    Calculator
                </a>
            </li>
            <li id="mf_research_li" class="">
                <a href="javascript:void(0);" onclick="changePage('mf_research');">
                    MF Research
                </a>
            </li>
            <li id="sales_presenter_li" class="">
                <a href="javascript:void(0);" onclick="changePage('sales_presenter');">
                    Sales Presenter
                </a>
            </li>
            <li id="mf_research_li" class="">
                <a href="javascript:void(0);" onclick="changePage('mso_model_portfolio');">
                    MSO Model Portfolio
                </a>
            </li>
            <li id="suitability_profiler_li" class="">
                <a href="javascript:void(0);" onclick="changePage('suitability_profiler');">
                    Suitability Profiler
                </a>
            </li>
            <li id="welcome_letter_li" class="">
                <a href="javascript:void(0);" onclick="changePage('welcome_letter');">
                    Welcome Letter
                </a>
            </li>
            <li id="purchased_video_li" class="">
                <a href="javascript:void(0);" onclick="changePage('purchased_video');">
                    Purchased Videos
                </a>
            </li>
                                    <li id="readymade_protfolio_li" class="" style="display:none;">
                <a href="javascript:void(0);" onclick="changePage('readymade_protfolio');">
                    Readymade Protfolio
                </a>
            </li>
        </ul>
    </div>
</div>
