<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="f-logo">
                        <a href="https://masterstrokes.betatesting.net">
                            <img class="img-fluid"
                                src="https://masterstrokes.betatesting.net//f/images/site_logo_1602484384.png"
                                alt="" />
                        </a>
                    </div>
                    <ul class="address-list">
                        <li class="footerGps">
                            <!--<img class="img-fluid" src="https://masterstrokes.betatesting.net//img/foot_loca_icon.png" alt="" />-->
                            <p>203, Vinayak Chambers 10/A, Hospital Street, Kolkata - 700072</p>
                            <p></p>
                        </li>

                        <li class="footerMail">
                            <!--<img class="img-fluid" src="https://masterstrokes.betatesting.net//img/foot_add_icon.png" alt="" />-->
                            <a href="mailto:info@masterstrokeonline.com">info@masterstrokeonline.com</a>
                        </li>

                        <li class="footerPh">
                            <!--<img class="img-fluid" src="https://masterstrokes.betatesting.net//img/foot_call_icon.png" alt="" />-->
                            <a href="tel:+91 9883818627">+91 9883818627</a>
                        </li>
                    </ul>
                    <div class="social-media">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/MasterStrokeOnline" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/c/MasterStrokeOnline/videos" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/masterstrokeonline/" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/masterstroke_ms" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="footer-menu-title">About</div>
                    <ul class="footer-menu">
                        <li><a href="https://masterstrokes.betatesting.net/about-us">About Us</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/membership">Become a member</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/whatsapp-broadcast">Join Broadcast</a>
                        </li>
                        <li><a href="https://masterstrokes.betatesting.net/contact-us">Contact Us</a></li>


                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <div class="footer-menu-title">Resources</div>
                    <ul class="footer-menu">
                        <li><a href="https://masterstrokes.betatesting.net/previous-webinar">Previous Webinar</a>
                        </li>
                        <li><a href="https://masterstrokes.betatesting.net/webinars">Upcoming Webinars</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/short-videos">Short video</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/tools">Tools</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/ifa-product-faqs">Product FAQs</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/ifa-business-faqs">Business FAQ</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/products-suitability">Product
                                Suitability</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/articles">Articles</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/blogs">Blogs</a></li>


                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <div class="footer-menu-title">Others</div>
                    <ul class="footer-menu">
                        <li><a href="https://masterstrokes.betatesting.net/how-to-use-videos">How to Use Videos</a>
                        </li>
                        <li><a href="https://masterstrokes.betatesting.net/success-stories">Success Stories</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/exam/take-exam">Mock Exams</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/coaching">Coaching</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/mso-associate">MSO Associate</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/fifa-membership-process">FIFA
                                Membership</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/nps">Invest in NPS</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/write-a-testimonial">Write
                                Testimonial</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <div class="footer-menu-title">Policies</div>
                    <ul class="footer-menu">
                        <li><a href="https://masterstrokes.betatesting.net/privacy-policy">Privacy Policy</a></li>
                        <li><a href="https://masterstrokes.betatesting.net/terms-conditions">Terms & Conditions</a>
                        </li>
                        <li><a href="https://masterstrokes.betatesting.net/disclaimers">Disclaimer</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bttm">
        <div class="container">
            <div class="copyrDiv">
                <p class="copyright">&copy; 2024 All Rights Reserved. </p>
                <!--<p class="copyright">Developed by <a target="_blank" href="https://zabingo.com/" rel="nofollow">Zabingo Softwares</a></p>-->
            </div>
        </div>
    </div>
</footer>