<div class="round-box">
                                        
    <div class="whtlst-sctn mb-0">
        <div class="whtlst-sctn-hdng">
            <div></div>
            <div class="whtlst-btn-grp">
                <button class="whtlst-setting-icon-btn">
                    <img src="assets/images/whitelist-setting-icon.svg" />
                </button>
                <button class="whtlst-btn">Create New</button>
                <button class="whtlst-btn danger">Upload PDF</button>
            </div>
        </div>

        <div class="whtlst-section">
            <div class="whtlst-table-hdng">
                <div class="hdng-title"><span>Published as AMC wise PDF(s)</span></div>
                <button class="whtlst-text-btn"><span>Unpublished All</span></button>
            </div>
            <div class="whtlst-published-box">
                <div class="whtlst-amc-card-wrap">
                    <ul class="whtlst-amc-card-list">
                        <ng-container *ngFor="let amc of demoamclist;">
                            <li *ngIf="amc.published">
                                <app-amc-card 
                                    (unpublishEventEmitter)="displayUpdated($event)"
                                    [amc]="amc">
                                </app-amc-card>
                            </li>
                        </ng-container>
                       
                        <li *ngIf="falseCheck(demoamclist) == undefined">
                            <div class="whtlst-amc-nocard">
                                <img class="nocard-icon" src="assets/images/whitelist-amc-warning-icon.svg" />
                                <h3 class="nocard-title">No PDF or Excel has been published as Whitelist</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="whtlst-pagination-sctn">
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="50" [(page)]="publishedPerPage" ></ngb-pagination>
            </div>
        </div>

        <div class="whtlst-section">

            <div class="whtlst-table-hdng">
                <div class="hdng-title"><span>All Created File</span> <img src="assets/images/whitelist-popinfo-icon.svg" /></div>
                <app-shorting-filter></app-shorting-filter>
            </div>

            <app-created-filter></app-created-filter>

            <div class="whtlst-created-box">
                <div class="whtlst-amc-card-wrap">
                    <ul class="whtlst-amc-card-list">
                        <ng-container *ngFor="let amc of demoamclist;">
                            <li *ngIf="!amc.published">
                                <app-amc-card 
                                [amc]="amc"
                                (publishEventEmitter)="displayUpdated($event)"
                                 >
                                </app-amc-card>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="whtlst-pagination-sctn">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="50" [(page)]="createdPerPage" ></ngb-pagination>
        </div>

    </div>




</div>