<div class="round-box">
                                        
    <div class="whtlst-sctn">
        <div class="whtlst-sctn-hdng">
            <div></div>
            <div class="whtlst-btn-grp">
                <button class="whtlst-setting-icon-btn">
                    <img src="assets/images/whitelist-setting-icon.svg" />
                </button>
                <button class="whtlst-btn">Create New</button>
                <button class="whtlst-btn danger">Upload PDF</button>
            </div>
        </div>

        <div class="whtlst-section">
            <div class="whtlst-table-hdng">
                <div class="hdng-title"><span>Published as AMC wise PDF(s)</span></div>
                <button class="whtlst-text-btn"><span>Unpublished All</span></button>
            </div>
            <div class="whtlst-published-box">
                <div class="whtlst-amc-card-wrap">
                    <ul class="whtlst-amc-card-list">
                        <li><app-amc-card></app-amc-card></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="whtlst-section">

            <div class="whtlst-table-hdng">
                <div class="hdng-title"><span>All Created File</span> <img src="assets/images/whitelist-popinfo-icon.svg" /></div>
                <app-shorting-filter></app-shorting-filter>
            </div>

            <app-created-filter></app-created-filter>

            <div class="whtlst-created-box">
                <div class="whtlst-amc-card-wrap">
                    <ul class="whtlst-amc-card-list">
                        <li><app-amc-card></app-amc-card></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




</div>